<div class="row task-lists" cdkDropListGroup>

  <!-- TODO LIST -->
  <div class="card col-xs-12 col-sm-4">
    <div class="card-body">
      <h4 class="card-title" [innerHtml]="todoListLable"></h4>

      <div id="todo" class="card-text" cdkDropList [cdkDropListData]="todoList" (cdkDropListDropped)="onDropTask($event)">
        <div  class="task" *ngFor="let item of todoList;let i=inedx" cdkDrag>
          <div class="task-name">{{ item }}</div>
          <div class="remove-icon"><i class="fa fa-trash" (click)="onRemoveTask('todo',i)"> </i></div>
        </div>
        <div class="text-center">
          <a (click)="onAddTask(todoList,'todo')">{{todoList?.length > 0 ? addAnotherCardLable : addCardLable}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- IN PROGRESS LIST -->
  <div class="card col-xs-12 col-sm-4">
    <div class="card-body">
      <h4 class="card-title" [innerHtml]="inProgressListLable"></h4>

      <div id="inProgress" class="card-text" cdkDropList [cdkDropListData]="inProgressList" (cdkDropListDropped)="onDropTask($event)">
        <div class="task" *ngFor="let item of inProgressList;let i=inedx" cdkDrag>
          <div class="task-name">{{ item }}</div>
          <div class="remove-icon"><i class="fa fa-trash" (click)="onRemoveTask('inProgress',i)"> </i></div>
        </div>
        <div class="text-center">
          <a
            (click)="onAddTask(inProgressList,'inProgress')">{{inProgressList?.length > 0 ? addAnotherCardLable : addCardLable}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- DONE LIST -->
  <div class="card col-xs-12 col-sm-4">
    <div class="card-body">
      <h4 class="card-title" [innerHtml]="doneListLable"></h4>

      <div id="done" class="card-text" cdkDropList [cdkDropListData]="doneList" (cdkDropListDropped)="onDropTask($event)">
        <div class="task" *ngFor="let item of doneList;let i=inedx" cdkDrag>
          <div class="task-name">{{ item }}</div>
          <div class="remove-icon"><i class="fa fa-trash" (click)="onRemoveTask('done',i)"> </i></div>
        </div>
        <div class="text-center">
          <a (click)="onAddTask(doneList,'done')">{{doneList?.length > 0 ? addAnotherCardLable : addCardLable}}</a>
        </div>
      </div>
    </div>
  </div>

</div>
